.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    background-image: url(../data/bg/bg_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 700px;
}
.bannerHead{
    position: relative;
    top: 50%;
    font-size: 170px!important;
    width: 100%;
    text-transform: uppercase;
    color: seashell;
    mix-blend-mode: difference;
}