@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.navbarContainer{
    background-color: black;
    width: 100%;
    color: white;
    z-index: 1;
    position: relative;
}
.navBrand{
    font-size: 24px;
    font-family: 'Monoton', cursive !important;
}
.navUl{
    display: flex;
    justify-content: right;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    align-items: center;
    width: 100%;
}
.navUl li{
    padding: 1% 1.5%;
    margin: 0px 10px;
    list-style: none;
}